.social-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  li { display: inline-block; }
}

.icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;

  &.linkedin {
    background: url('../../../static/images/icons/linkedIn.png') no-repeat 0 0;
  }

  &.github {
    background: url('../../../static/images/icons/github.png') no-repeat 0 0;
  }
}
