html, body, h1, h2, h3, h4, h5, h6,
section, header, div, span, button, a, img {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a, a:hover, a:active, a:visited {
  color: $color-2;
  text-decoration: none;
}
