@import '../../styles/variables';
@import '../../styles/basic';

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem;
}

#main-section {
  position: relative;
  height: calc(100vh - #{$header-height});
}
