@import '../styles/variables';

.home-content-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;

  &:before {
    position: absolute;
    display: block;
    width: 62.8rem;
    height: 59.6rem;
    content: '';
    top: 3rem;
    left: -7.5rem;
    background: url('../images/background-focus.png') no-repeat 0 0;
    z-index: 1;
  }
}

.text-wrapper {
  position: relative;
  width: 45%;
  order: 1;
  align-self: center;
  z-index: 2;

  h1 {
    color: $color-2;
    padding: 0;
    margin: 0;
    font-size: 12rem;
    line-height: 12rem;
  }
}

.congrats {
  margin: 0 0 1rem;
  padding: 0;
}

.description {
  margin: 0;
  padding: 0;
  line-height: 3rem;
}

.image-wrapper {
  position: relative;
  order: 2;
  align-self: flex-end;
  z-index: 2;

  img {
    width: auto;
    padding-bottom: 4rem;
    max-height: calc(100vh - #{$header-height} - 5rem);
  }
}

.buttons-wrapper {
  padding-top: 6rem;

  button {
    margin-right: 2.5rem;
  }
}
