@import '../../styles/variables';

#header {
  position: relative;
  overflow: hidden;
  height: $header-height;

  .logo-wrapper {
    position: relative;
    float: left;
    width: 12rem;
    padding-top: 3rem;
    z-index: 2;
  }
}
